:root{
    --main-color: white;

}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
    letter-spacing: 1.2px;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/full-bloom.png");
    
}

header{
    width: 100%;
    align-content: center;
    color: var(--main-color);
    border-bottom-width: 2px;
    border-color: gray;
    margin: 0px auto;
    background-color: white;
    min-width: 0%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.wrapper{
    width:1024;

}
nav{
    float:right;
}

.name-block{
    background-color: #4aaaa5;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}



img {
    float: left;
    margin-right:20px;
}

.btn{
    /* padding: 50px 50px 50px 50px; */
    background-color: teal;
}

.clearfix{
    overflow: auto;
}

.main{
    background-color: white;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 80px;
    /* min-width: 550px; */
    border-radius: 15px;
    /* display: inline-block; */
    /* border: 1px; */
    /* border-style: solid; */
    /* border-color: lightgray; */

}
.more-links{
    background-color: white;
    margin-top: 30px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 80px;
    min-width: 200px;
    border-radius: 15px;
    /* border: .5px; */
    /* border-style: solid; */
    /* border-color: lightgray; */
}
.line{
    background-color: lightgray;
    height: 2px;
    margin: 0px 0px 20px 0px;

}

.nav-link{
    padding-top: 25px;
    color: lightgray;
    background-color: white;
    float: right;

}

a{
    padding: 10px 10px 10px 10px;
}

a:hover{
    color: aqua;
    background-color: azure;
}

a:visited{
color:gray;
}

.image-container{
position: relative;
background-color: white;
/* align-content: center; */
margin: 0px 0px 20px 0px;
width: 300px;
overflow-x: hidden;
}

.image-text-box{
position: absolute;
top: 165px;
text-align: center;
background-color: teal;
color: white;
width:100%;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background-color:rgb(102, 102, 102);
    padding-top: 20px;
    color: lightgray;
    font-size: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    padding-right: .375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* Use three @media screen tags, each with one of these max-widths: 980px, 768px and 640px. */

@media screen and (max-width: 980px){
    .wrapper {
        width: 880px;
        padding: 20px 40px 20px 40px;
        /* background-color:rgba(170, 170, 170, 0.822); */
      }
}

@media screen and (max-width: 768px){
    .wrapper {
        width: 660px;
        padding: 20px 40px 20px 40px;
        /* background-color:rgb(167, 166, 166); */
      }
      
}

@media screen and (max-width: 640px){
.links{
    display: inline-block;
    background-color:lightpink;

}
.wrapper {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /* background-color:rgb(124, 124, 124); */
  }
header{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}

  .name-block{
      width: 100%;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      text-align: center;
    
  }

  .nav-link{
      width: 100%;
      margin: 0px 0px 0px 0px;
      padding: 20px 0px 20px 0px;

  }
}
